<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/Global.css" />
    <link rel="stylesheet" href="/css/Login.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
    />
  </head>
  <body>
    <form action="/login" method="POST">
      <div class="login-page-of-hospital">
        <div class="frame-parent">
          <div>
            <img src="/images/Group 472.png" alt="" />
          </div>
        </div>
        <div class="frame1">
          <img class="image-12-icon" alt="" src="/images/image 12.png" />

          <div class="frame2">
            <div class="frame3">
              <div class="sign-up-parent">
                <div class="feel-safe-everywhere-contaier">Sign Up /</div>
                <div class="login">Login</div>
              </div>
              <div class="login-wrapper">
                <div class="feel-safe-everywhere-container">
                  <div id="btn">
                    <button>Submit</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="frame4">
              <div class="frame-group">
                <div class="frame5">
                  <div class="frame6">
                    <!-- <div class="welcome-to-sicu-aura">Welcome to Sicu-aura</div> -->
                    <div class="email-id-parent">
                      <div class="email-id">
                        <input type="text" placeholder="Email ID" />
                      </div>
                      <div class="frame-child"></div>
                    </div>
                  </div>
                  <div class="frame7">
                    <div class="password-parent">
                      <div class="email-id">
                        <input type="text" placeholder="Password" />
                      </div>
                      <div class="frame-child"></div>
                    </div>
                    <div class="password-parent">
                      <div class="email-id">
                        <input type="text" placeholder="Special Access Code" />
                      </div>
                      <div class="frame-child"></div>
                    </div>
                  </div>
                </div>
                <div class="frame8">
                  <div class="email-id">
                    Your one stop safety solutions using innovative technology
                  </div>
                  <div class="hospital-name-parent">
                    <div class="welcome-to-sicu-aura">
                      <input type="text" placeholder="Hospital Name" />
                    </div>
                    <div class="line-div"></div>
                  </div>
                </div>
              </div>
              <div class="ellipse-group">
                <div class="ellipse-div"></div>
                <div class="email-id">Terms and Condition privacy policy</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
