<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <!-- <link rel="stylesheet" href="./global.css" /> -->
    <link rel="stylesheet" href="/css/Registration_com.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
    />
  </head>
  <body>
    <div class="registration-complete">
      <div class="registration-complete-child"></div>
      <div class="rectangle-parent11">
        <div class="group-child42"></div>
        <div class="your-registration-has">
          Your Registration has been Successful
        </div>
        <img class="checkmark-icon" alt="" src="/images/Checkmark.png" />
      </div>
    </div>
  </body>
</html>
